.benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 32px;

    &__item {
        display: grid;
        gap: 8px;
        justify-items: center;
        padding-block: 16px;
        text-align: center;
        border-top: 1px solid var(--color-grey);

        &:nth-last-child(-n+2) {
            border-bottom: 1px solid var(--color-grey);
        }

        @media screen and (max-width: 768px) {
            &:nth-last-child(-n+2) {
                border-bottom: none ;
            }

            &:last-child {
                border-bottom: 1px solid var(--color-grey);
            }
        }
    }

    &__title {
        @include title-1;
        text-transform: uppercase;
    }

    &__description {
        @include subtitle;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}