.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.14);
    background: var(--color-white);

    &__logo {
        display: flex;
        gap: 4px;
        align-items: center;
        @include subtitle;
    }

    &__btn {
        padding: 11px 26px;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-radius: 24px;
        @include text;
    }
}