.info {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 104px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25);
    background: var(--color-white);

    @media screen and (max-width: 768px) {
        gap: 50px;
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__separator {
        width: 1px;
        height: 100%;
        background-color: var(--color-grey);
    }

    &__description {
        display: grid;
    }

    &__number {
        @include title-2;
    }

    &__text {
        @include capture;
    }
}