.main {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-block: 150px;
    width: 70%;
    margin-inline: auto;

    @media screen and (max-width: 768px) {
        width: 90%;
        gap: 40px;
        padding-block: 90px;
    }

    &__title {
        text-align: center;
        @include title-2;
    }
}